#root {
  max-width: 100%;
  padding-left: 10%;
  overflow-x: hidden;
}

#nav {
  height: 100%; 
  width: 10%;
  position: fixed;
  z-index: 1; 
  top: 0; 
  left: 0;
  background-color: #111; 
}

#nav a {
  text-decoration: none;
  font-size: 14pt;
  padding: 5% 0px;
  margin: 10% 8%;
  display: block;
  position: relative;
  opacity: 0.85;
  border-radius: 0.2em;
}

#nav a:hover {
  opacity: 1;
}

#nav a::before {
  transition: 300ms;
  height: 5px;
  content: "";
  position: absolute;
  background-color: #8886ff;
  width: 0%;
  bottom: 1%;
  border-radius: 5em;
}

#nav a:hover::before{
  width: 100%;
}

@media (max-width: 980px){
  #nav{
    width: 25%;
  }
  #root{
    padding-left: 25%;
  }
}
